<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= username %> 欢迎来到王者荣耀
    </h1>
    <p>敌军还有五秒到达战场！准备好六分投了吗？</p>
    <a href="http://127.0.0.1:3000/detail"> 点击跳转至详情页</a>
</body>

</html>